<h1>Find images from https://pixabay.com</h1>

<form class="js-search-form" id="search-form">
  <input type="text" name="query" autocomplete="off" placeholder="Search images..."/>
  <button type="submit" class="btn js-search-btn">Search</button>
</form>

<ul class="js-card-container container">
  <!-- Список картинок c foto-cards.hbs -->
</ul>

<div class="bottom-container">
<button type="button" class="btn-load visually-hidden js-load-btn" data-action="load-more">Load more</button>
<!-- <a href="javascript:scroll(0,0)" class ="on-top">Вернуться<br>наверх</a> -->
<a href="#" class ="on-top">Вернуться<br>наверх</a>
</div>